

.content {
    width: 100%;
    margin:0px; 
    padding: 40px;
    float: left;
}

.content--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid lightcyan;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;
}

.header--text {
    flex: 1;
}

.header--title {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.ppp {
    color: black;
    font-size: 15px;
    margin-top: 0;
}

.header--right {
    display: flex;
    align-items: center;
}

.pic {
    max-width: 170px;
    border-radius: 50%;
    margin-left: 60px;
}
.Card--wrapper {
    padding: 5px;
    margin-top: 3rem;
    margin: 10px;
}

.main-title {
    font-size: 18px;
    margin-bottom: 20px; 
    text-align: left; 

}

.Card--container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.card {
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    height:100px;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.card:hover {
    background: #72C832;
    transform: scale(1.04);
    cursor: pointer;
}

.card--title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: flex-start;
}

.title {
    font-size: 18px;
    margin-left: 10px;
    color: #333;
}

.card--content {
    margin-top: auto;
    font-size: 12px;
    color:black;
}

.year-progress {
    display: flex;
    justify-content: space-between;
}

.completed-year {
    color: green;
}

.remaining-year {
    color: lightgray;
}


.chart-container {
    display: flex;  
    flex-direction: column;  
    align-items: flex-start; 
    gap: 10px;  
    margin: 20px;  
    max-width: 500px;  
    box-sizing: border-box;
  }
  

  .chart-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;  
  }

  .weekly-bar-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    box-sizing: border-box;
    width: 90%; 
  }
.Calendar--wrapper {
   margin-top: 3rem;
   
}

.calendar-card{
    border-radius: 8px;
    padding: 20px;
    width: 600px;
    height:360px;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  
  
}
.Calendar-header{
    font-size: 18px;
    margin-bottom: 20px; 
    text-align: left; 
}

.card-items{
    
gap: 0px;
}

.time{
  display:flex;
  margin: 40px 0;
  padding: 0 10px;
  font-size: 15px;
  flex-direction: column;
}
hr{
    width: 93%;
    margin-left: 65px;
}
.time-date{
    display:flex;
    flex-direction: row;
    margin: 0 20px;
}