
.profile-container {
   padding:5px;
    padding-top: 15px;
}


.calendar-container {
    margin-top: 5px; 
   
}

.profile-header {
    margin-bottom: 5px; 
    font-size: 0.6rem; 
}


.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-detail {
    text-align: center;
}

.user-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.username {
    font-size: 0.8rem;
}

.profession {
    color: #666;
}
